/* global.css or any global stylesheet */
.toast-success {
    background-color: #4caf50 !important;
    color: white !important;
    border-radius: 8px;
    padding: 12px 16px;
    font-size: 14px;
}
  
.toast-error {
    background-color: #f44336 !important;
    color: white !important;
    border-radius: 8px;
    padding: 12px 16px;
    font-size: 14px;
}

.request-message{
    display: -webkit-inline-box;
    line-clamp: 2;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.custom-day-picker {
    --rdp-accent-color: #1976d2;
    --rdp-background-color: #e3f2fd;
    --rdp-selected-color: white;
}

.custom-day-picker .rdp-day_selected,
.custom-day-picker .rdp-day_range_start,
.custom-day-picker .rdp-day_range_end {
    background-color: var(--rdp-accent-color) !important;
    color: var(--rdp-selected-color) !important;
    border-radius: 50% !important;
}

.custom-day-picker .rdp-day_range_middle {
    background-color: var(--rdp-background-color) !important;
    color: #000;
    border-radius: 0 !important;
}

.react-tel-input .form-control{
    border-radius: 9px !important;
}

.react-tel-input .form-control:hover:hover {
    border-color: #1e4db7;
}

.react-tel-input .country-list .search-box{
    border-radius: 5px !important;
}

.mui-1e77ocg-MuiTypography-root{
    font-weight: 400 !important;
}

.mui-15x1u4v{
    font-weight: 400 !important;
}

.rdp-month_caption{
    font-weight: 400 !important;
}

.rdp-selected{
    font-weight: 400 !important;
}

.mui-u94pcw-MuiTypography-root{
    font-weight: 500 !important;
}

td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignCenter.MuiTableCell-sizeMedium.mui-15qi017-MuiTableCell-root{
    font-size: 16px !important;
}

input[type="checkbox"] {
    transform: scale(1.4) !important;
}

.mui-1jw9ula{
    height: 90px !important;
    padding: 10px !important;
}
.admin-settings-tabs span.MuiTabs-indicator.mui-1fmegky-MuiTabs-indicator{
    display: none;
}

span.MuiTabs-indicator.mui-at3d3q{
    display: none;
}

.user-tabs{
    padding: 10px 20px !important;
    min-height: 20px !important;
}

.admin-settings{
    padding: 10px 20px !important;
    min-height: 20px !important;
    color: #1e4db7;
    border-radius: 7px;
    margin-bottom: 7px;
}

.admin-settings.Mui-selected {
    padding: 10px 20px !important;
    min-height: 20px !important;
    color: white;
    background-color: #1e4db7;
    border-radius: 7px;
}

input#project_id::placeholder {
    color: #ffffff;
}

.project-tabs .address-tab, .project-tabs .task-tab{
    min-height: 39px;
}
.project-tabs .address-tab, .project-tabs .task-tab {
    color: #000;
}

.project-tabs span.MuiTabs-indicator.mui-acba2e-MuiTabs-indicator{
    display: none;
}

.project-selection .mui-1o5cv33-MuiInputBase-root-MuiOutlinedInput-root , .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiAutocomplete-inputRoot.mui-4h8b5a {
    background-color: #1e4db7 !important;
    color: white !important;
    font-weight: 600;
    border-radius: 20px;
}

.project-selection .mui-1umw9bq-MuiSvgIcon-root{
    color: white;
}

.project-selection .mui-1vsmqk7-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-popupIndicator:hover{
    .mui-1umw9bq-MuiSvgIcon-root{
        color: black;
    }
}
.project-selection .mui-3q9hdc-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-clearIndicator, .project-selection button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.MuiAutocomplete-clearIndicator.mui-lp6drn{
    display: none;
}

.address-form {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.multi-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;      /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  