/* global.css or any global stylesheet */
.toast-success {
    background-color: #4caf50 !important;
    color: white !important;
    border-radius: 8px;
    padding: 12px 16px;
    font-size: 14px;
}
  
.toast-error {
    background-color: #f44336 !important;
    color: white !important;
    border-radius: 8px;
    padding: 12px 16px;
    font-size: 14px;
}

.request-message{
    display: -webkit-inline-box;
    line-clamp: 2;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.custom-day-picker {
    --rdp-accent-color: #1976d2;
    --rdp-background-color: #e3f2fd;
    --rdp-selected-color: white;
}

.custom-day-picker .rdp-day_selected,
.custom-day-picker .rdp-day_range_start,
.custom-day-picker .rdp-day_range_end {
    background-color: var(--rdp-accent-color) !important;
    color: var(--rdp-selected-color) !important;
    border-radius: 50% !important;
}

.custom-day-picker .rdp-day_range_middle {
    background-color: var(--rdp-background-color) !important;
    color: #000;
    border-radius: 0 !important;
}

.react-tel-input .form-control{
    border-radius: 9px !important;
}

.react-tel-input .form-control:hover:hover {
    border-color: #1e4db7;
}

.react-tel-input .country-list .search-box{
    border-radius: 5px !important;
}